<form class="deletion-form d-flex justify-content-center">
    <button class="btn btn-danger btn-lg h-25 deleteBtn" type="submit">
        Delete Project
    </button>
</form>


<script src="/javascript/delete-project-logic.js"></script>