<div class="container">

    <div class="d-flex justify-content-end mx-2 mb-4">
        <a href="/projects/{{project.id}}/new-task" target="_blank" class="btn btn-success btn-sm h-25">
                New Task
        </a>
    </div>

    <div class="row justify-content-center">


        {{#each project.tasks as |task|}}

        {{> task-list-info task}}

        {{/each}}

    </div>




</div>