body  {
    background-image: url("https://wallpaperaccess.com/full/1491561.jpg");  
  }


main {

   
    width: 400px;
    margin-top: 300px;
    margin-left: 600px;
    margin-right: 500px;
    margin-bottom: 700px;
    border: solid;
    border-radius: 10px;
    border-color: lightgrey;
    background-color:whitesmoke ;
}


h1{
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}